statemachine/resume_workflow.asl.json
{
  "Comment": "A state machine that updates a resume based on user instruction",
  "StartAt": "FetchResume",
  "States": {
    "FetchResume": {
      "Type": "Task",
      "Resource": "${FetchResumeFunctionArn}",
      "ResultPath": "$.resume_data",
      "Next": "GenerateDiff"
    },
    "GenerateDiff": {
      "Type": "Task",
      "Resource": "${GenerateDiffFunctionArn}",
      "Parameters": {
        "current_latex.$": "$.resume_data.content",
        "instruction.$": "$.instruction"
      },
      "ResultPath": "$.patches",
      "Next": "CommitUpdate"
    },
    "CommitUpdate": {
      "Type": "Task",
      "Resource": "${CommitUpdateFunctionArn}",
      "Parameters": {
        "patches.$": "$.patches",
        "current_latex.$": "$.resume_data.content",
        "sha.$": "$.resume_data.sha",
        "instruction.$": "$.instruction"
      },
      "End": true
    }
  }
}
